@import './src/styles/_variables';

.container {
  direction: rtl;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid cyan;
  margin-left: -251px;
  background-color: $alt-color;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

.flip {
  direction: ltr;
  margin-bottom: 50px;
}

.title {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 8px;
}

h3 {
  margin-bottom: 2px;
  margin-right: 7px;
  color: white;
  margin-top: 0;
}

h4 {
  color: white;
  margin-left: 10px;
  margin-bottom: 8px;
  margin-top: 0;
}

.noVisits {
  margin-left: 10px;
  color: white;
}

#subTitle {
  font-style: italic;
  margin: 0;
  color: cyan;
  padding-right: 5px;
}

hr {
  border: 1px solid white;
}

p {
  color: white;
  margin: 0;
}

.visits {
  margin: 4px 6px 2px 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

ul li{
  text-align: left;
}

.visits:hover {
  background-color: $alt-color;
  cursor: pointer;
}

.detailsBtn {
  color: white;
  font-weight: lighter;
}

.visitHead {
  display: flex;
  justify-content: space-between;
}

.detLabel {
  font-style: italic;
  color: cyan;
  margin-bottom: 4px;
  margin-top: 2px;
}

.visitDate {
  font: 16px "Roboto";
}

.visitDetails {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.visitDetailsLeft {
  display: flex;
  flex-direction: column;
}

.visitDetailsRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.detRightLabel {
  color: white;
  font-weight: lighter;
  margin-bottom: 0;
}

.showSdbr {
  position: fixed;
  margin-top: 20%;
  margin-left: auto;
  color: $primary-color;
  width: 30px;
  height: 60px;
  background-color: white;
  text-align: center;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  font-size: large;
}

.showSdbr:hover {
  background-color: $alt-color;
  color: cyan;
  cursor: pointer;
}

@media(max-width: 500px) {
  .showSdbr {
    margin-top: 250px;
  }
}

.arrow {
  margin-top: 15px;
  font-size: x-large;
}

#editProfile {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  align-items: center;
}

#editProfile:hover {
  text-decoration: underline;
}

.check {
  color: #00aa30;
}

#pendingIcon {
  margin-right: 2px;
  margin-left: 2px;
}

#declinedIcon {
  color: #ff1155;
}

.confirmed {
  border: 1px solid #00aa30;
}

.pending {
  border: 1px solid gray;
}

.declined {
  border: 1px solid #ff1155;
}

.completed {
  border: 1px solid white;
}

.myVisits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 80px;
}

mat-form-field * {
  color: white;
  font: 11px Raleway;
}

#upcoming {
  margin-bottom: 30px;
}


#style-11::-webkit-scrollbar {
  width: 10px;
  background-color: gray;
}

#style-11::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

#style-11::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to right, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

#style-11::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#style-11::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to right, #22ADD4, #1E98BA);
}
