.alert-danger {
  background-color: #ff0000;
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 320px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#danger {
  font-size: xx-large;
}

.alert-success {
  background-color: #00aa30;
  border-radius: 10px;
  color: white;
  width: 250px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#ok {
  font-size: xx-large;
}
