<div class="container">
  <div class="title">
    <h2>Visit Details</h2>
    <h3>{{visit.date}} {{visit.hour}}</h3>
  </div>
  <div class="result">
    <h4>Diagnosis: <span>{{visit.exam.diagnosis}}</span></h4>
    <h4>Prescription: <span>{{visit.exam.prescription}}</span></h4>
    <h4>Advices: <span>{{visit.exam.advices}}</span></h4>
  </div>

  <div id="doctor">
    <h4>Doctor: <span>{{visit.doctor}}</span></h4>
    <div id="rate">
      <h4>Rate:
      <span class="rating" *ngIf="foundRated === -1 && !rated">
        <input type="radio" id="star5" name="rating" [value]="5" [(ngModel)]="rating"/><label for="star5"></label>
        <input type="radio" id="star4" name="rating" [value]="4" [(ngModel)]="rating"/><label for="star4"></label>
        <input type="radio" id="star3" name="rating" [value]="3" [(ngModel)]="rating"/><label for="star3"></label>
        <input type="radio" id="star2" name="rating" [value]="2" [(ngModel)]="rating"/><label for="star2"></label>
        <input type="radio" id="star1" name="rating" [value]="1" [(ngModel)]="rating"/><label for="star1"></label>
      </span>
      <span class="rating" *ngIf="foundRated > -1 || rated">
        <span class="stars-container stars-{{getRating()}}">★★★★★</span>
      </span>
      </h4>
    </div>
    <div *ngIf="foundRated === -1 && !rated" mat-dialog-actions class="beforeRate" [ngClass]="{afterRate : rating}">
      <button (click)="onCancelClick()" class="actionBtn">Cancel</button>
      <button (click)="rate(rating)" class="actionBtn">Save</button>
    </div>
    <div *ngIf="rated" id="afterRate">Rate saved!</div>
  </div>
</div>
