<div class="toolbar" [ngClass]="{altToolbar : currentUser?.userType === 'Doctor'}">
  <div class="title" [ngClass]="{altTitle : currentUser?.userType === 'Doctor'}">
    <a class='homeBtn' routerLink="/home" (click)="reload()"><h3>ePatient</h3></a>
    <img class=avatar *ngIf="currentUser?.profilePic" [src]="imgPath" alt=""
         [ngClass]="{altAvatar : currentUser?.userType === 'Doctor'}">
    <img class=avatar *ngIf="currentUser && !currentUser.profilePic"
         src="https://forums.roku.com/styles/canvas/theme/images/no_avatar.jpg" alt=""
         [ngClass]="{altAvatar : currentUser?.userType === 'Doctor'}">
    <h4 *ngIf="currentUser">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
    <div *ngIf="currentUser" class="indicators" [ngClass]="{altIndicators : currentUser?.userType === 'Doctor'}">

      <div class="indicator">
        <span class="notification" *ngIf="inbox > 0"></span>
        <a href="javascript:void(0)" class="indicatorLink">
          <fa-icon icon="envelope" class="indicator"></fa-icon>

        </a>
      </div>

      <div class="indicator" (click)="readNotifications(); drop = !drop">

        <a href="javascript:void(0)" class="indicatorLink">
          <span class="notification" *ngIf="notifications > 0">{{notifications}}</span>
          <fa-icon icon="bell" class="indicator"></fa-icon>
        </a>

      </div>
    </div>
  </div>

  <div class="dropdownCnt" *ngIf="drop" (clickOutside)="drop = !drop" [exclude]="'.indicator'" [delayClickOutsideInit]="true">

    <div class="notList" *ngIf="currentUser.userType === 'Doctor'">
      <div *ngFor="let visit of currentUser.visits.slice().reverse(); let declined = false; let confirmed = false" class="notCont">
        <div><span class="boldedInfo">{{visit.patientName}}</span> sent you a visit request on <span class="boldedInfo">{{visit.date}} {{visit.hour}}</span>
        </div>
        <div class="confirmation" *ngIf="visit.status === 'pending'">
          <span>Do you confirm?</span>
            <div class="notBtns">
              <fa-icon icon="check" class="confirmIcon" (click)="confirm(visit); confirmed = !confirmed;">
              </fa-icon>
              <fa-icon icon="times" class="declineIcon" (click)="decline(visit); declined = !declined"></fa-icon>
            </div>

        </div>
                <div class="solved" *ngIf="visit.status !== 'pending'">
                    <div *ngIf="visit.status === 'confirmed'"><fa-icon icon="check-circle" class="confirmIcon"></fa-icon> Confirmed!</div>
                    <div *ngIf="visit.status === 'declined'"><fa-icon icon="times-circle" class="declineIcon"></fa-icon> Declined!</div>
                </div>
      </div>
    </div>

    <div class="notList" *ngIf="currentUser.userType === 'Patient'">
      <div *ngFor="let visit of currentUser.visits.slice().reverse()" class="notCont">

        <div *ngIf="visit.status === 'confirmed'">
          <fa-icon icon="check-circle" class="confirmIcon"></fa-icon>
          <span class="boldedInfo"> {{visit.doctorName}}</span>
          confirmed your visit on <span class="boldedInfo">{{visit.date}} {{visit.hour}}</span>
        </div>

        <div *ngIf="visit.status === 'declined'">
          <fa-icon icon="times-circle" class="declineIcon"></fa-icon>
          <span class="boldedInfo"> {{visit.doctorName}}</span>
          declined your visit request on <span class="boldedInfo">{{visit.date}} {{visit.hour}}</span>
        </div>

      </div>
  </div>
  </div>

  <div class="logOutBtn" [ngClass]="{altToolbarButtons : currentUser?.userType === 'Doctor'}" (click)="logout()">
    <a *ngIf="currentUser" [ngClass]="{'logOut' : currentUser?.userType === 'Doctor'}">Log Out</a>
  </div>
  <div class="toolbarButtons" *ngIf="!currentUser">
    <ul>
      <li routerLink="/register">Sign Up</li>
      <li routerLink="/login">Log In</li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdownBtn" (click)="drop = !drop">
          <fa-icon icon="ellipsis-v"></fa-icon>
        </a>
        <div class="dropdownContent" *ngIf="drop">
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </li>
    </ul>
  </div>
</div>
