@import './src/styles/_variables';

.container {
  display: flex;
  width: auto;
  max-height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.jumbotron {
  color: white;
  display: flex;
  justify-content: space-between;
  text-shadow: $shadow;
}

.slider {
  margin-top: 30px;
  font-size: 20px;
}

fa-icon:hover {
  color: cyan;
  cursor: pointer;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  color: cyan;
  text-shadow: $shadow;
}

.image {
  margin-left: 150px;
}

img {
  width: 300px;
  height: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.row {
  display: flex;
  justify-content: space-around;
  //max-height: 320px;
  flex-wrap: wrap;
}

p {
  color: white;
  max-width: 500px;
  min-width: 250px;
  /*min-height: 300px;*/
  font-size: 18px;
}

.content {
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.actionBtn {
  border: 1px solid white;
  border-radius: 5px;
  background: #2156f3;
  color: white;
  font: $button-font;
  //font-weight: bold;
  padding: 5px 8px;
  width: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.actionBtn:hover {
  cursor: pointer;
  color: #2156f3;
  background: white;
  border: 1px solid white;
}

@media(max-width: 1190px) {
  .row {
    justify-content: left;
  }
  img {
    display: none;
  }

}
