@import './src/styles/_variables';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 10px;
}

.altToolbar {
  background-color: $alt-color;
}

.title {
  display: flex;
  flex-direction: row;
  color: $bluer;
  height: 50px;
  align-items: center;
}

.altTitle * {
  color: white;
}

.homeIcon {
  color: $bluer;
}

.altHomeIcon {
  color: $secondary-color;
}

h4 {
  margin-left: 7px;
  margin-right: 7px;
}

.toolbarButtons {
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
}

.indicators {
  display: flex;
  justify-content: space-between;
  width: 65px;
  height: 50px;
  align-items: center;
}

.notification {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: red;
  color: white;
  font: 10px "Helvetica Neue", sans-serif;
  font-weight: bolder;
  padding: 1px;
  text-align: center;
  top: 0;
  right: 0;
  z-index: 50;
  position: absolute;
}

.indicatorLink {
  font-size: larger;
}

.indicator {
  position: relative;
  width: 30px;
  height: 20px;
}

.altIndicators * {
  color: cyan;
}

a:active {
  color: cyan;
}

.buttonsList {
  list-style: none;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
}

.notList {
  display: flex;
  flex-direction: column;
}

.editDrop {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  position: absolute;
  z-index: 1;
  top: 47px;
  left: 95px;
  border: 2px solid $alt-color;
}

.btnListElement {
  color: $alt-color;
  font-weight: bold;
  width: 100%;
  display: flex;
  text-align: center;
  height: 50px;
  align-items: center;
  justify-content: center;
  outline: none;
}

p {
  margin: 0;
}

.notBtns {
  display: flex;
  justify-content: space-around;
  min-width: 50px;
}

.btnListElement:hover {
  height: 50px;
  background-color: $secondary-color;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  max-height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 7px;
  padding-right: 7px;
}

.profile * {
  color: white;
}

.altProfile * {
  color: $alt-color;
}

.profile:hover {
  cursor: pointer;
  background: #3c3a44;
}

.altProfile:hover {
  cursor: pointer;
  background: $secondary-color;
}

.dropdownCnt {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  position: absolute;
  z-index: 100;
  top: 47px;
  left: 250px;
  max-height: 300px;
  overflow-y: auto;
  border: 2px solid $alt-color;
}

@media(max-width: 450px) {
  .dropdownCnt {
    left: 20px;
  }
}

.dropdownContent a {
  color: $bluer;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: $secondary-color;
}

.homeBtn {
  text-decoration: none;
}

.homeBtn:hover {
  cursor: pointer;
}

.logOut {
  display: flex;
  color: white;
  font-weight: bold;
}

.altToolbarButtons {
  height: 50px;
  width: 73px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.logOutBtn {
  height: 50px;
  width: 73px;
  display: flex;
  align-items: center;
  color: $bluer;
  justify-content: space-around;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.logOutBtn * {
  font-weight: bold;
}

.logOutBtn:hover {
  cursor: pointer;
  background-color: $secondary-color;
}

.altToolbarButtons:hover {
  cursor: pointer;
  background: #3c3a44;
}

.logOut:hover {
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $bluer;
}

.altAvatar {
  border-color: $secondary-color;
}

.notCont {
  color: $alt-color;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.notCont:hover {
  background-color: lightgray;
  cursor: pointer;
}

#editProfileBtn {
  margin: 0;
  color: $alt-color;
  padding: 5px;
}

#editProfileBtn * {
  color: $alt-color;
}

#editLogoutBtn {
  margin: 0;
  color: $alt-color;
  padding: 5px;
}

#editLogoutBtn * {
  color: $alt-color;
}

.confirmation {
  transition: 0.5s;
  display: flex;
}

.solved {
  animation-name: fadeIn;
  animation-duration: .2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boldedInfo {
  font-weight: bold;
}

.confirmIcon {
  color: #00aa30;
}

.declineIcon {
  color: red;
}

