.alert-danger {
  color: #f3213d;
  font-weight: bold;
  padding: 20px;
  width: 320px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.danger {
  font-size: xx-large;
}

.alert-success {
  color: #21f3bf;
  font-weight: bold;
  width: 250px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ok {
  font-size: xx-large;
}
