@import './src/styles/_variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.title {
  height: 50px;
  margin-bottom: 25px;
}

h2 {
  color: white;
  text-shadow: $shadow;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

@media(max-width: 450px) {
  form {
    width: 220px;
  }
}

mat-form-field {
  color: cyan;

}

mat-form-field * {
  color: white;
}

input {
  font-size: x-large;
  padding: 5px 0;
}

.formButtons {
  display: flex;
  justify-content: space-around;
}

.actionBtn {
  border: 1px solid white;
  background: $primary-color;
  color: white;
  font: $button-font;
  padding: 5px 10px;
}

.actionBtn:hover {
  cursor: pointer;
  color: $primary-color;
  background: white;
}

.invalid-feedback {
  margin-top: -18px;
}

.underForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

h4 {
  margin: 0;
  color: white;
  font-weight: lighter;
}

a {
  color: cyan;
}

