.mat-typography{
  color: #2196f3;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.stepper {
  width: 70%;
}

.jumbotron {
  color: white;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  width: 35%;
  text-align: center;
}

@media (max-width: 600px) {
  .jumbotron {
    width: 70%
  }
}


