.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-toolbar {
  width: 100%;
}

app-footer {
  bottom: 0;
  right: 5px;
  display: inline-block;
  position: fixed;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

router-outlet {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}







