
  <div class="container" *ngIf="currentUser" [@slideSdbr]=currentState>
    <div *ngIf="currentState === 'final'">
      <div class="title">
        <h3>{{currentUser.firstName}} {{currentUser.lastName}}</h3><a routerLink="/edit" (click)="showSdbr()" id="editProfile"><fa-icon icon="user-edit"></fa-icon></a>
      </div>
      <hr>
      <h4>My Visits</h4>

      <ul class="visits" *ngFor="let visit of currentUser.visits; let show = false" (click)="show = !show" [ngClass]="[(show && visit.confirmed ? 'confirmed' : 'pending')]">
        <li>
        <div class="visitHead">
          <p class="visitDate">
            <fa-icon icon="check-circle" class='check' *ngIf="visit.confirmed"></fa-icon>
            <fa-icon icon="hourglass-half" id="pendingIcon" *ngIf="!visit.confirmed"></fa-icon>
            {{visit.date}}
          </p>
          <a class="detailsBtn">
<!--            <fa-icon icon="angle-double-down" *ngIf="!show"></fa-icon>-->
          </a>
        </div>
        <div class="visitDetails" *ngIf="show">
          <div class="visitDetailsLeft">
          <h5 class="detLabel">Doctor</h5>
          <p>{{visit.doctor}}</p>
          </div>
          <div class="visitDetailsRight">

          <h5 class="detRightLabel" *ngIf="visit.confirmed">Confirmed</h5>

          <h5 class="detRightLabel" *ngIf="!visit.confirmed">...pending</h5>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="showSdbr" *ngIf="currentUser" [@slideArrow]=currentState (click)="showSdbr()">
    <div class="arrow" *ngIf="currentState == 'initial'">
      <fa-icon icon='angle-right'></fa-icon>
    </div>
    <div class="arrow" *ngIf="currentState == 'final'">
      <fa-icon icon='angle-left'></fa-icon>
    </div>
  </div>




