@import './src/styles/_variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.jumbotron {
  color: white;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: $shadow;
}

.content {
  display: flex;
  //flex-direction: column;
  justify-content: space-around;
  width: 100%;
  //margin-left: 10%;
  flex-wrap: wrap;
}

.content * {
  color: white;
}

.actionBtn {
  border: 1px solid white;
  background: #ffcd36;
  color: white;
  font: $button-font;
  padding: 3px 8px;
  width: 130px;
  margin-bottom: 10px;
}

.actionBtn:hover {
  cursor: pointer;
  color: $primary-color;
  background: white;
  border: 1px solid white;
}

#patient {
  max-width: 350px;
  min-height: 100%;
  text-align: center;
  padding: 20px;
  border: 1px solid white;
}

#doctor {
  max-width: 350px;
  min-height: 100%;
  text-align: center;
  padding: 20px;
  border: 1px solid white;
}

h2 {
  margin-top: 0;
  text-shadow: $shadow;
}

#line {
  border-left: 1px solid white;
  margin-top: 19.92px;
}

@media(max-width: 550px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .jumbotron {
    margin-bottom: 0;
  }
  #patient {
    border: none;
  }
  #doctor {
    border: none ;
  }
}
