<div class="container">
  <div class="jumbotron">
    <h1>Make a doctor's appointment in 4 simple steps</h1>
  </div>
  <div class="content">
    <div id="patient">
      <h2>For the patient</h2>
      <p>You can easily send a visit request directly to the doctor.
      Keep track of all your visits and rate your doctor to help out others in making their choice.</p>
      <button class="actionBtn" routerLink="/request" (mouseenter)="landing1()" (mouseleave)="landing()">Get started!</button>
    </div>
    <div id="doctor">
      <h2>For the doctor</h2>
      <p>Manage all your visits in one place. Your dashboard and personal calendar will keep you informed and up to date.
      Sign up and use our service anywhere, anytime you want.</p>
      <button class="actionBtn" routerLink="/register" (mouseenter)="landing3()" (mouseleave)="landing()">Sign up!</button>
    </div>
  </div>
</div>
