@import './src/styles/_variables';

.container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.jumbotron {
  color: white;
  margin-left: 10%;
  width: 70%;
  margin-bottom: 20px;
  text-shadow: $shadow;
}

@media(max-width: 550px) {
  .jumbotron {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 10%;
  flex-wrap: wrap;
}

.content * {
  color: white;
}

.actionBtn {
  border: 1px solid white;
  background: $primary-color;
  color: white;
  font: $button-font;
  padding: 3px 8px;
  width: 130px;
  margin-bottom: 10px;
}

.actionBtn:hover {
  cursor: pointer;
  color: $primary-color;
  background: white;
  border: 1px solid white;
}

#patient {
  max-width: 350px;
  min-height: 100%;
}

#doctor {
  max-width: 350px;
  min-height: 100%;
  margin-top: 30px;
}

h2 {
  margin-top: 0;
  text-shadow: $shadow;
}

#line {
  border-left: 1px solid white;
  margin-top: 19.92px;
}
