<div class="container">

  <div class="content">

    <div class="table">
      <div class="tableHeaders">
       <h1><fa-icon icon="home" id="homeIcon"></fa-icon> Dashboard</h1>
      </div>
      <div class="line">
      </div>
      <div class="tableHeaders">
        <h2>Inbox</h2>
      </div>
      <div class="line">
      </div>
      <div class="tableHeaders">
        <h2>My Visits</h2>
      </div>
      <div class="line">
      </div>
      <div class="tableHeaders">
        <h2>My Patients</h2>
      </div>
      <div class="line">
      </div>
      <div class="tableHeaders">
        <h2>Help</h2>
      </div>
    </div>

    <div class="list">
      <ul *ngFor="let patient of patients; let i = index" class="patientsList">
        <li>
          {{i + 1}}. {{patient.firstName}} {{patient.lastName}}
        </li>
      </ul>
    </div>
  </div>
</div>
