.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigationMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  margin-top: 20px;
}

#homeIcon {
  color: cyan;
}

.title {
  display: flex;
}

h1 {
  color: white;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.actionBtn {
  border: 1px solid white;
  background: #2156f3;
  color: white;
  font: 18px Raleway, sans-serif;
  padding: 3px 8px;
  margin-bottom: 5px;
}

.actionBtn:hover {
  cursor: pointer;
  color: #2156f3;
  background: white;
  border: 1px solid white;
}

ul {
  list-style: none;
}

li {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
  margin-top: 28px;
}

.table {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-left: -40px;
}

.tableHeaders {
  display: flex;
  margin-left: 40px;
}

.tableHeaders:hover {
  cursor: pointer;
}

.tableHeaders > h2 {
  position: relative;
}

.tableHeaders > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  right: 0;
  background-color: cyan;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.tableHeaders > h2:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.line {
  width: 1px;
  border-right: 1px solid white;
  height: 30px;
  margin-top: 30px;
  margin-left: 40px;
}
