xunk-calendar [_ngcontent-smc-c7] {
  primarycolor: #1a44c2;
}

.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.title {
  display: flex;
}

h1 {
  color: white;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.actionBtn {
  border: 1px solid white;
  background: #2156f3;
  color: white;
  font: 18px Raleway, sans-serif;
  padding: 3px 8px;
  margin-bottom: 5px;
}

.actionBtn:hover {
  cursor: pointer;
  color: #2156f3;
  background: white;
  border: 1px solid white;
}

ul {
  list-style: none;
}

li {
  color: white;
}

.content {
  display: flex;
  /*flex-direction: column;*/
  margin-top: 20px;
  width: 80%;
  /*width: 90%;*/
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
  margin-top: 28px;
}

.table {
  display: flex;
  width: 100%;
}

#rightSide {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 30px;
}

#rightHeaders {
  display: flex;
  margin-left: -30px;
}

.tableHeaders {
  display: flex;
}

#date {
  margin-left: 20px;
}

h3 {
  color: white;
}

.tableHeaders:hover {
  cursor: pointer;
}

.tableHeaders > h2 {
  position: relative;
}

.tableHeaders > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  right: 0;
  background-color: cyan;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.tableHeaders > h2:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.line {
  width: 1px;
  border-right: 1px solid white;
  height: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

#dashboard {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

#dashboardContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 400px;
  width: 100%;
  border: 2px solid white;
  margin-top: 1.5em;
}

button * {
  background-color: #1a44c2;
}

#rightSideContent {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  border: 2px solid white;
  margin-top: 0.3em;
  padding-left: 20px;
}
