<div class="container">

  <div class="content">

    <div class="table">

      <!--      left-->

      <div id="dashboard">
        <div>
          <h1>My Visits</h1>
        </div>
        <div id="dashboardContent">
          <xunk-calendar [heatmap]="heatmap" [selectedDate]="selDate" (click)="setVisitsToDisplay()"
                         primaryColor="#1a44c2" heatMapColor="cyan" primaryForeground="white"></xunk-calendar>
        </div>
      </div>

      <!--      right-->

        <div id="rightSideContent">


          <table>

            <thead>
            <tr>
              <th><h3 class="tHead">Hour</h3></th>
              <th><h3 class="tHead">Patient Name</h3></th>
              <th><h3 class="tHead">Status</h3></th>
              <th><h3 class="tHead">Action</h3></th>
            </tr>
            </thead>


            <tbody *ngIf="visitsToDisplay?.length >= 1">
            <tr *ngFor="let visit of visitsToDisplay">
              <td><h4>{{visit.hour}}</h4></td>
              <td><h4>{{visit.patientName}}</h4></td>
              <td><h4>{{visit.status}}</h4></td>
              <td><h4><fa-icon icon="ellipsis-v"></fa-icon></h4></td>
            </tr>
            </tbody>

          </table>
          <h3 *ngIf="visitsToDisplay?.length < 1" id="noVisits">There are no visits on this date!</h3>
        </div>


    </div>
  </div>
</div>
