.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 4em;
  width: auto;
}

.jumbotron {
  color: white;
  text-align: center;
  margin-bottom: 2em;
  width: 70%;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: white;
  display: flex;
  align-items: center;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #2156f3;
  border: 2px solid white;
  color: white;
  text-align: center;
  font: 32px Arial, sans-serif;
  margin-right: 10px;
}

li:hover .label {
  cursor: pointer;
}

li:hover .numberCircle {
  background: white;
  color: #2156f3;
  border: 2px solid #2156f3;
  cursor: pointer;
}

.currentStep {
  background: white;
  color: #2156f3;
  border: 2px solid #2156f3;
}

.currentStepLabel {
  color: cyan;
}

.label {
  font: 20px Raleway, sans-serif;
}

.stepperLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subLabel {
  color: cyan;
  font: 15px Raleway, sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  flex-direction: column;
}

/*.cardLeft {*/
/*  display: flex;*/
/*  width: 100%;*/
/*  flex-direction: row;*/
/*  justify-content: space-around;*/
/*}*/

mat-form-field * {
  color: white;
  font: 22px Raleway, sans-serif;
}

::ng-deep .mat-select-value {
  color: white;
}

.formButtons {
  display: flex;
  justify-content: space-around;
}

.actionBtn {
  border: 1px solid white;
  background: #2156f3;
  color: white;
  font: 18px Raleway, sans-serif;
  padding: 3px 8px;
}

.actionBtn:hover {
  cursor: pointer;
  color: #2156f3;
  background: white;
  border: none;
}

.card {
  width: 400px;
  border: 1px solid white;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  display: flex;
}

.cardName {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 8px;
}

.cardBtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 5px;
}

#calendarIcon {
  font-size: x-large;
}

#calendarLabel {
  padding-right: 5px;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

#calendarIcon:hover {
  cursor: pointer;
}

#calendarIcon:hover ~ #calendarLabel {
  opacity: 1;
}

.underCardBtn {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
  color: cyan;
}

#cover {
  filter:blur(5px);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.accessDenied {
  width: auto;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 120px;
  left: 400px;
  right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
}

.calendar {
  margin-top: 45px;
}


