.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 4em;
}

.jumbotron {
  color: white;
  text-align: center;
  width: 70%;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 2em;
}

ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: white;
  display: flex;
  align-items: center;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #2156f3;
  border: 2px solid white;
  color: white;
  text-align: center;
  font: 32px Arial, sans-serif;
  margin-right: 10px;
}

li:hover .label {
  cursor: pointer;
}

li:hover .numberCircle {
  background: white;
  color: #2156f3;
  border: 2px solid #2156f3;
  cursor: pointer;
}

.currentStep {
  background: white;
  color: #2156f3;
  border: 2px solid #2156f3;
}

.label {
  font: 20px Raleway, sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

mat-form-field * {
  color: white;
  font: 20px Raleway, sans-serif;
}

mat-option:hover {
  background: #00AAFF;
}

