 <mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel><p class="choice">Pick a Specialty</p></ng-template>
      <mat-form-field>
        <mat-label>Specialty</mat-label>
        <mat-select>
          <mat-option *ngFor="let specialty of specialties" [value]="specialty.value">
            {{specialty.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel><p class="choice">Pick your City</p></ng-template>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel><p class="choice">Pick a Doctor</p></ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <ng-template matStepLabel><p class="choice">Make an Appointment</p></ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

