<div class="container">
  <div class="jumbotron">
    <h1>Make a doctor's appointment in 4 simple steps</h1>
  </div>
  <div class="stepper">
    <ul>
      <li (click)="stepCounter = 1"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==1}">1</span><span
        class="label">Pick a Specialty</span></li>
      <li (click)="stepCounter = 2"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==2}">2</span><span
        class="label">Pick a City</span></li>
      <li (click)="stepCounter = 3"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==3}">3</span><span
        class="label">Choose a Doctor</span></li>
      <li (click)="stepCounter = 4"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==4}">4</span><span
        class="label">Make an Appointment</span>
      </li>
    </ul>
  </div>
  <div class="form" *ngIf="stepCounter == 1">
    <mat-form-field>
      <mat-label>Specialty</mat-label>
      <mat-select name="specialty" [(ngModel)]="specialty" (selectionChange)="pickSpecialty(specialty)">
        <mat-option *ngFor="let specialty of uniqueCities()" [value]="specialty">
          {{specialty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="formButtons">
      <button (click)="stepCounter = 2">Next</button>
    </div>
  </div>

  <div class="form" *ngIf="stepCounter == 2">
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select name="city" [(ngModel)]="city" (selectionChange)="pickCity(specialty,city)">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="formButtons">
      <button (click)="stepCounter = 1">Back</button>
      <button (click)="stepCounter = 3">Next</button>
    </div>
  </div>

  <div class="form" *ngIf="stepCounter == 3">
    <mat-form-field>
      <mat-label>Doctor</mat-label>
      <mat-select>
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
          {{doctor.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="formButtons">
      <button (click)="stepCounter = 2">Back</button>
      <button (click)="stepCounter = 4">Next</button>
    </div>
  </div>


