<div class="container">
  <div class="jumbotron">
    <h1>Make a doctor's appointment in 4 simple steps</h1>
  </div>
  <div class="stepper">
    <ul>
      <li (click)="stepCounter = 1"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==1}">1</span><span class="label">Pick a Specialty</span></li>
      <li (click)="stepCounter = 2"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==2}">2</span><span class="label">Pick a City</span></li>
      <li (click)="stepCounter = 3"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==3}">3</span><span class="label">Choose a Doctor</span></li>
      <li (click)="stepCounter = 4"><span class="numberCircle" [ngClass]="{currentStep : stepCounter==4}">4</span><span class="label">Make an Appointment</span>
      </li>
    </ul>
  </div>
  <div class="form">
    <mat-form-field>
      <mat-label>Specialty</mat-label>
      <mat-select>
        <mat-option>
          Ortopeda
        </mat-option>
        <mat-option>
          Psycholog
        </mat-option>
        <mat-option>
          Lekarz
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>


