@import './src/styles/_variables';

.pickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  //margin-top: 4em;
}

alert {
  margin-bottom: 20px;
}

@media(max-width: 600px) {
  .pickerContainer {
    margin-top: 2em;
  }
}

.jumbotron {
  color: white;
  text-shadow: $shadow;
  text-align: center;
  vertical-align: middle;
  //margin-top: 10px;
  margin-bottom: 30px;
  height: 50px;
}

@media(max-width: 500px) {
  .jumbotron {
    font-size: smaller;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#confirmRequest {
  margin-top: 10px;
  margin-bottom: 8px;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 2em;
}

@media(max-width: 700px) {
  .stepper {
    margin-top: 4em;
  }
}

.stepperUp {
  margin-top: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: white;
  display: flex;
  align-items: center;
}

.numberCircle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  min-width: 26px;
  min-height: 26px;
  padding: 8px;
  background: $primary-color;
  border: 2px solid white;
  color: white;
  text-align: center;
  font: 23px Arial, sans-serif;
  margin-right: 10px;
}

.currentStep {
  background: white;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.currentStepLabel {
  color: cyan;
}

.label {
  font: 20px Raleway, sans-serif;
}

@media(max-width: 900px) {
  .label {
    display: none;
  }

  .subLabel {
    display: none;
  }
}

.stepperLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subLabel {
  color: cyan;
  font: 15px Raleway, sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  flex-direction: column;
}

.invalid-feedback * {
  margin-top: -26px;
  color: white;
}

mat-form-field * {
  color: white;
  font: 22px Raleway, sans-serif;
}

.formButtons {
  display: flex;
  justify-content: space-around;
  max-width: 180px;
}

.actionBtn {
  border: 1px solid white;
  border-radius: 5px;
  background: #2156f3;
  color: white;
  font: $button-font;
  //font-weight: bold;
  padding: 5px 8px;
  width: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.actionBtn:hover {
  cursor: pointer;
  color: #2156f3;
  background: white;
  border: 1px solid white;
}

.card {
  width: 400px;
  border: 1px solid white;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  background-color: #1a44c2;
  color: white;
  cursor: pointer;
}

.card:hover h3 {
  color: white;
}

.card:focus {
  background-color: cyan;
  color: $primary-color;
  cursor: pointer;
}

.card:focus h3 {
  color: $primary-color;
}

.card:focus h5 {
  color: $alt-color;
}

@media(max-width: 480px) {
  .card {
    width: 200px;
  }

  .timePicker {
    width: 200px;
  }

  .calendar {
    width: 80%;
  }
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.cardBasic {
  display: flex;
}

.cardName {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 8px;
}

.cardBtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 5px;
}

#calendarIcon {
  font-size: x-large;
}

#calendarLabel {
  padding-right: 5px;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

#calendarIcon:hover {
  cursor: pointer;
}

#calendarIcon:hover ~ #calendarLabel {
  opacity: 1;
}

.underCardBtn {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
}

h3 {
  margin: 0;
  color: white;
}

@media(max-width: 400px) {
  h3 {
    font-size: smaller;
  }
}

h5 {
  margin: 0;
  margin-top: -5px;
  color: cyan;
  vertical-align: middle;
}

#cover {
  filter:blur(5px);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.accessDenied {
  width: auto;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 120px;
  left: 400px;
  right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
}

.timePicker {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  flex-direction: column;
  margin-top: 40px;
}

@media(max-width: 480px) {
  .timePicker {
    width: 200px;
  }
}

.calendar {
  display: flex;
  justify-content: flex-start;
  //align-items: center;
  width: 400px;
  height: 200px;
  //flex-direction: column;
}

.chooseDoctor {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  margin-top: 10px;
}

@media(max-width: 1000px) {
  .chooseDoctor {
    flex-direction: column-reverse;
    width: 300px;
    align-items: center;
  }
}

#thirdForm {
  justify-content: flex-start;
}

.emptyDiv {
  width: 400px;
  height: 200px;
}

@media(max-width: 600px) {
  .emptyDiv {
    height: 0;
  }
}

.timePickerLabel {
  padding-top: 10px;
  padding-bottom: 10px;
}

.timeTable {
  width: 400px;
  border: 1px solid white;
  color: white;
  //padding: 10px;
  //margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
  color: cyan;
}

#confirmBtn {
  border: 1px solid white;
  background: #00aa30;
  color: white;
  font: 16px Raleway, sans-serif;
  padding: 3px 8px;
  width: 140px;
  margin-bottom: 10px;
}

#confirmBtn:hover {
  cursor: pointer;
}

#cancelBtn {
  border: 1px solid white;
  background: #ff0000;
  color: white;
  font: 16px Raleway, sans-serif;
  padding: 3px 8px;
  width: 70px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#cancelBtn {
  cursor: pointer;
}

.finalBtn {
  display: flex;
  justify-content: flex-end;
}

#hourLabel {
  font-size: medium;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  animation: 0.8s ease-out 0s 1 fadeIn;
}

.jumbotron {
  animation: 0.5s ease-out 0s 1 fadeIn;
}

.stepper {
  animation: 0.7s ease-out 0s 1 fadeIn;
}

#specialty {
  margin-top: 4px;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
}

.stars-container:before{
  position: absolute;
  top: 2px;
  left: 0;
  content: '★★★★★';
  color:lightgray;
}
.stars-container:after {
  position: absolute;
  top: 2px;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100%;}

.rating {
  width: 108px;
  height: 40px;
  padding: 0;
  background: transparent;
}
.rating label {
  float: right;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
}
.rating label:not(:first-of-type) {
  /*padding-right: 1px;*/
}
.rating label:before {
  content: "\2605";
  font-size: 20px;
  color: #CCCCCC;
  line-height: 1;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
  color: #F9DF4A;
}

@media(max-width: 480px) {
  .stars-container {
    font-size: 12px;
  }
  h5 {
    display: flex;
    margin-top: 0;
  }
  .cardBtn {
    display: none;
  }
}



