<div class="pickerContainer" [ngClass]="{stepperUp : stepCounter == 3 || stepCounter == 4}">
  <div class="jumbotron" *ngIf="stepCounter !== 3 && stepCounter !== 4" (click)="fetchDoctors()">
    <h1>Make a doctor's appointment in 4 simple steps</h1>
  </div>
  <div class="stepper">
    <ul>
      <li><span class="numberCircle" [ngClass]="{currentStep : stepCounter==1}">1</span>
        <div class="stepperLabel">
          <span class="label" [ngClass]="{currentStepLabel : stepCounter==1}">Pick a Specialty</span>
          <span class="subLabel" *ngIf="stepCounter !== 1">{{specialty}}</span>
        </div>
      </li>
      <li><span class="numberCircle" [ngClass]="{currentStep : stepCounter==2}">2</span>
        <div class="stepperLabel">
          <span class="label" [ngClass]="{currentStepLabel : stepCounter==2}">Pick a City</span>
          <span class="subLabel" *ngIf="stepCounter !== 2 && stepCounter !== 1">{{city}}</span>
        </div>
      </li>
      <li><span class="numberCircle"
                                          [ngClass]="{currentStep : stepCounter==3}">3</span><span
        class="label" [ngClass]="{currentStepLabel : stepCounter==3}">Choose a Doctor</span></li>
      <li><span class="numberCircle"
                                          [ngClass]="{currentStep : stepCounter==4}">4</span><span
        class="label" [ngClass]="{currentStepLabel : stepCounter==4}">Make an Appointment</span>
      </li>
    </ul>
  </div>

  <div class="form" *ngIf="stepCounter == 1" >
    <form [formGroup]="specialtyForm" (ngSubmit)="submitSpecialty()">
    <mat-form-field>
      <mat-label *ngIf="!specialtySubmitted || !f.specialty.errors">Specialty</mat-label>
      <mat-select name="specialty" #specialty formControlName="specialty" (selectionChange)="pickSpecialty(specialty.value)">
        <mat-option *ngFor="let specialty of uniqueCities()" [value]="specialty">
          {{specialty}}
        </mat-option>
      </mat-select>
      <div *ngIf="f.specialty.errors && specialtySubmitted" class="invalid-feedback">
        <div *ngIf="f.specialty.errors.required">Pick a specialty</div>
      </div>
    </mat-form-field>
    <div class="formButtons">
      <button class="actionBtn" type="submit">Next</button>
    </div>
    </form>
  </div>


  <div class="form" *ngIf="stepCounter == 2">
    <form [formGroup]="cityForm" (ngSubmit)="submitCity()">
    <mat-form-field>
      <mat-label *ngIf="!citySubmitted || !g.city.errors">City</mat-label>
      <mat-select name="city" #city formControlName="city" (selectionChange)="pickCity(specialty, city.value)">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
      <div *ngIf="g.city.errors && citySubmitted" class="invalid-feedback">
        <div *ngIf="g.city.errors.required">Pick a city</div>
      </div>
    </mat-form-field>
    <div class="formButtons">
      <button class="actionBtn" type="button" (click)="stepCounter = 1">Back</button>
      <button class="actionBtn" type="submit">Next</button>
    </div>
    </form>
  </div>

  <div *ngIf="stepCounter == 3" class="chooseDoctor">
    <div class="form" id="thirdForm">
      <div class="card" *ngFor="let doctor of doctors; let i = index"
           (click)="selectedDoctorDetails = doctor; calendarClick(i)">
        <div class="cardTitle">
          <div class="cardBasic">
            <img class="avatar" [src]="imgPath()" *ngIf="doctor.profilePic"
                 alt="Avatar">
            <img class="avatar" src="http://fit.ie/fitnew/wp-content/uploads/2014/11/no-profile-image.jpg"
                 *ngIf="!doctor.profilePic"
                 alt="Avatar">
            <div class="cardName">
              <h3>{{doctor.firstName}} {{doctor.lastName}}</h3>
              <h5>
                <span class="rating">Rating:
                   <span class="stars-container stars-{{getRating(doctor)}}">★★★★★</span>
              </span> ({{doctor.rates.length}})</h5>
            </div>
          </div>
          <div class="cardBtn">
            <fa-icon icon="calendar-alt" id="calendarIcon"></fa-icon>
            <h5 id="calendarLabel">Check Calendar</h5>
          </div>
        </div>

        <div *ngIf="selectedDoctor === i" class="cardDetails">
          <!--          <h5>{{doctor.city}}</h5>-->
        </div>
      </div>

      <div class="underCardBtn" *ngIf="!hourPicked">
        <button class="actionBtn" (click)="stepCounter = 2">Back</button>
      </div>
    </div>

    <div *ngIf="!calendarClicked && !datePicked" class="emptyDiv"></div>

    <div *ngIf="calendarClicked && !datePicked" class="calendar">
      <mat-form-field style="width:1px;visibility:hidden;">
        <input matInput [matDatepicker]="datePicker" (click)="datePicker.open()" (dateChange)="addEvent($event)">
        <mat-datepicker #datePicker [opened]="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="datePicked" class="timePicker">
      <h3 class="timePickerLabel">{{date}}</h3>
      <h4 class="timePickerLabel">Available hours:</h4>

      <mat-form-field>
        <mat-label id="hourLabel">Choose An Hour</mat-label>
        <mat-select (selectionChange)="pickHour(hour)" [(ngModel)]="hour">
          <mat-option *ngFor="let hour of avHours" [value]="hour">{{hour}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="formButtons" *ngIf="hourPicked">
        <button class="actionBtn" (click)="stepCounter = 2">Back</button>
        <button class="actionBtn" (click)="stepCounter = 4">Next</button>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="jumbotron" *ngIf="stepCounter === 4">
      <h1 *ngIf="!requestSent" id="confirmRequest">Do you want to send a request?</h1>
      <alert></alert>
    </div>



    <div *ngIf="stepCounter === 4 && selectedDoctor !== undefined" class="confirm">
      <div class="card">
        <div class="cardTitle">
          <div class="cardBasic">
            <img class="avatar" [src]="imgPath()" *ngIf="selectedDoctorDetails.profilePic"
                 alt="Avatar">
            <img class="avatar" src="http://fit.ie/fitnew/wp-content/uploads/2014/11/no-profile-image.jpg"
                 *ngIf="!selectedDoctorDetails.profilePic"
                 alt="Avatar">
            <div class="cardName">
              <h3>{{selectedDoctorDetails.firstName}} {{selectedDoctorDetails.lastName}}</h3>
              <h5 id="specialty">{{selectedDoctorDetails.specialty}}</h5>
            </div>
          </div>
          <div class="cardBtn">
            <h3>{{date}}, {{hour}}</h3>
          </div>
        </div>
      </div>
      <div class="finalBtn" *ngIf="!requestSent">
        <button id="confirmBtn" (click)="sendRequest()">Send a request</button>
        <button id="cancelBtn" (click)="stepCounter = 3">Cancel</button>
      </div>
    </div>
  </div>
</div>
