html, body { height: 100vh; margin: 0; padding: 0;}
body { margin: 0; font-family: Raleway, sans-serif; background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 150%); }

