@import 'styles/_variables';
@import 'styles/_overrides.scss';

html, body { min-height: 100%; margin: 0; padding: 0;}
body { margin: 0; min-height: 100%; ; height: 100vh; font-family: Raleway, sans-serif; background-size: cover}

.landing1 {
  position: relative;
  background: $primary-color;
  background-attachment: fixed;
  min-height: 100%;
  bottom: 0;
}

.landing1:after {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url("https://i.imgur.com/e5f3olw.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  /*animation: fadein 2s;*/
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 0.5s linear;
}

.landing2 {
  position: relative;
  background: $primary-color;
  background-repeat: no-repeat; background-attachment: fixed;
  min-height: 100%;
}

.landing2:after {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url("https://i.imgur.com/Wq4TApW.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 0.5s linear;
}

.landing3 {
  position: relative;
  background: $secondary-color;
  background-repeat: no-repeat; background-attachment: fixed;
  min-height: 100%;
}

.landing3:after {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  background-image: url("https://i.imgur.com/J710TsY.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 0.5s linear;
}

.custom-modal .mat-dialog-container {
  padding: 0;
}

.mat-select-value {
  color: $mat-form-override;
}

app-landing-page {
  height: 100vh;
  display: flex;
  align-items: center;
}

@media(max-width: 600px) {
  app-landing-page {
    height: auto;
  }
}

app-edit-profile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 600px) {
  app-edit-profile {
    height: auto;
  }
}

app-news {
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 600px) {
  app-news {
    height: auto;
  }
}

app-main-picker {
    margin-top: 5%;
}

@media(max-width: 600px) {
  app-main-picker {
    height: auto;
  }
}

app-register {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 600px) {
  app-register {
    height: auto;
  }
}

app-login {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-dashboard {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 600px) {
  app-dashboard {
    height: auto;
  }
}

app-visit-conduct {
  width: 100%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.2; }
}
