html, body { height: 100%; margin: 0; padding: 0;}
body { margin: 0; height: 100%; font-family: Raleway, sans-serif;}

.altBody {
  background: rgb(0,212,255);
  background-repeat: no-repeat; background-attachment: fixed
}

.body {
  background: #2156f3;
  background-repeat: no-repeat; background-attachment: fixed;
  background-image: url("https://i.ibb.co/RhhjYSd/wavy-alt-footer.png");
  background-position: bottom;
  background-size: 100% 20%;
}

.custom-modal .mat-dialog-container {
  padding: 0;
}
